<div class="view-containers">
  <h1>What is the Role of Our Next Front-end Developer?</h1>
  As a Front-end Developer for Luxtripper your main responsibility will be to dazzle me with your eye for aesthetics and also UX design. First you will make our back office application sing, and when I feel that you are ready, we will together venture down the most exciting path of your career. This will include coding on the front-end of our award winning travel site.<br><br>
  To blow my mind you will have to show off your HTML5 skills, together with your understanding of ES6, and at least one CSS pre-processor, and one MVC Framework for javascript. I will also expect you to be able to do simple things in nodejs, configure gulp, use npm and also bower.

  Our Expectations of You
  Related to Your Personality:
  <li>Humble and willing to put the Team first.</li>
  <li>Giving accurate timing estimates for your work.</li>
  <li>Train other non-technical staff, particularly designers.</li>
  <li>Contributing to the company development standards.</li>
  <li>Discussing technical solutions with the business owners.</li>
  <li>Follow the trends in the developer community.</li>
  <li>Constantly improving yourself by learning new technologies and frameworks.</li>
  <li>Excitement about emerging web technologies. </li>
  <li>You must be able to both give and take feedback.</li>
  <li>Related to Your Technical Orientation:</li><li>I expect you to have senior level javascript experience.</li>
  <li>Understanding of nodejs, be able to configure gulp, use npm and also bower.</li>
  <li>Knowing jQuery at an expert level.</li>
  <li>You need to know your MVC Frameworks for javascript, as many as possible, and you’ll have to be willing to learn a couple more (react, angular, ember, backbone). </li>
  <li>Excellent HTML5 knowledge, also Stylus, LESS or SASS experience.</li>
  <li>Be able to present data in a pretty way, including reading it out from RESTful Web Services.</li>
  <li>Coding valid XHTML and CSS mark-up.</li>
  <li>Developing cross-browser and cross-platform compatible solutions.</li>
  <li>Experience integrating with server-side code to produce dynamic pages.</li>
  <li>Good understanding of Web Accessibility.</li>
  <li>Experience working with version control systems, preferably Git.</li>
  <li>Ability to work with Visual Studio and .NET MVC is a big plus.</li><br>
  If you can’t tick all technically oriented boxes that’s not a big problem, but if you miss out on any of the personality traits then you probably won’t fit in our team.
</div>
